{% block advantages %}
    <!-- ======= Преимущества======= -->
    <div class="advantages container">

      <div class="section-title">
        <h2>Преимущества учебника</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #ffbb2c;"></i>
            <h3>Все уровни обучения</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #5578ff;"></i>
            <h3>Полный комплект УМК</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e80368;"></i>
            <h3>Красочность и наглядность</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e361ff;"></i>
            <h3>Интересные задания</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #11dbcf;"></i>
            <h3>Современная лексика</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #ffa76e;"></i>
            <h3>Аутентичные тексты</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #47aeff;"></i>
            <h3>Задания для подготовки к ГИА</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #4233ff;"></i>
            <h3>Учет возрастных особенностей</h3>
          </div>
        </div>

      </div>
    </div><!-- конец раздела -->
  </section><!-- конец секции -->
{% endblock %}  