{% extends "base.html" %}
{% block content %}

{% block header %}
{% include "header.html" %}
{% endblock %}


{% block UMK %}
{% include "UMK.html" %}
{% endblock %}

{% block counters %}
{% include "counters.html" %}
{% endblock %}

{% block advantages %}
{% include "advantages.html" %}
{% endblock %}


{% block dop %}
{% include "dop.html" %}
{% endblock %}

{% block book %}
{% include "book.html" %}
{% endblock %}

{% block contacts %}
{% include "contacts.html" %}
{% endblock %}

{% endblock %}