{% block UMK %}
  <!-- ======= Учебники ======= -->
  <section id="UMK" class="about">

    <!-- ======= О книгах ======= -->
    <div class="about-book container">

      <div class="section-title">
        <h2 align="center"> </h2>
        <p align="center">Spotlight 5-9 классы</p>
      </div>

       <img src="static/img/спот.png" width="280" height="350" style="float: left; margin-right: 50px;">
       <p class="fst-italic" style="margin-right: 50px; margin-top: 50px;">
            Учебник является центральным элементом учебно-методического комплекта серии «Английский в фокусе» для 5-9 классов общеобразовательных организаций. Отличительной особенностью УМК является:
       </p>
       <ul style="margin-right: 50px;">
	      <li><i class="bi bi-chevron-right"></i> Модульное построение учебника</li>
              <li><i class="bi bi-chevron-right"></i> Задания, соответствующие требованиям международных экзаменов, готовящих постепенно к ЕГЭ по английскому языку</li>
              <li><i class="bi bi-chevron-right"></i> Наличие аутентичного материала о России</li>
              <li><i class="bi bi-chevron-right"></i> Материалы учебника способствуют достижению личностных, метапредметных и предметных результатов обучения</li>
        </ul>
          <p style="margin-right: 50px;">
            Хорошая наполняемость комплекта: учебник, рабочая тетрадь, сборник дополнительных упражнений, книга тестов, CD, DVD, книга для чтения и приложение «Языковой портфель» для учащихся.
          </p>
	<h2 align="center"> </h2>
 	</div><!-- конец первой секции -->

{% endblock %}    